@mixin font-face($font-family) {
  $font-weight:300;
  $font-style:'normal';
  @font-face {
    font-family: $font-family;
      src: url('!url!./fonts/#{$font-family}.eot');
      src: url('!url!./fonts/#{$font-family}.eot?#iefix') format('embedded-opentype'),
           url('!url!./fonts/#{$font-family}.woff') format('woff'),
           url('!url!./fonts/#{$font-family}.ttf') format('truetype'),
           url('!url!./fonts/#{$font-family}.svg##{$font-family}') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }
  // @media screen and (-webkit-min-device-pixel-ratio: 0) {
  //   @font-face {
  //     font-family: $font-family;
  //       src: url('#{$font-family}.svg##{$font-family}') format('svg');
  //   }
  // }
}

@include font-face('GothamPro');
@include font-face('GothamPro-Black');
@include font-face('GothamPro-BlackItalic');
@include font-face('GothamPro-Bold');
@include font-face('GothamPro-BoldItalic');
@include font-face('GothamPro-Italic');
@include font-face('GothamPro-Light');
@include font-face('GothamPro-LightItalic');
@include font-face('GothamPro-Medium');
@include font-face('GothamPro-MediumItalic');
@include font-face('GothamProNarrow-Bold');
@include font-face('GothamProNarrow-Medium');
